/* ----- BarChart ----- */

ptrn-barchart {
    display: block;
}

.bar rect {
    fill: #F89F1B;
    stroke: white;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
