/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-border:                   #EEEEEE;
$color-soft:                     #AAAAAA;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;